html{
    height: 100%; 
}

body{
    /* overflow-x: hidden;  */
    /* overflow-y: hidden;    */
    min-height: 100%;  
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: background 0.2s linear; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    height: 2rem;
    box-shadow: 1px 2px 7px rgba(4, 18, 22, 0.4);
    font-family: 'Times New Roman', Times, serif;
    cursor: context-menu;
}

header > h3{
    padding-top: 0.8%;
    cursor: pointer;
}

header > h3:hover{
    opacity: 0.7;
}

.logo{
    font-size: 2em;
}

section{
    display: flex;
    align-content: center;
    margin: 9.5em 0 10.3% 3em;
}

.descricao p{
    font-size: 1.2rem;
    max-width: 800px;
}

.descricao h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
}

button{
    border: none;
    background-color: #32333a;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 42px;
    margin-top: 10px;
    cursor: pointer;
}

.botaoPesquisar{
    height: 33px;
}

button:hover{
    opacity: 40%;
    transition: .5s ease-out;
}

input{
    height: 28px;
    margin-bottom: 1%;
}

.extras{
    position: fixed;
    top: 28%; /*alinhar na parte inferior*/
    left: 68%; /*alinhar na parte direita*/
    width: 800px;
    height: 800px;
    border-radius: 50%;
    /* background-color: #11143d; */
    background-image: url('img/moon.png');
}

.extras img{
    left: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(4, 4, 19));
    filter: drop-shadow(2px 1px 8px rgb(3, 3, 3));

}
.extras img:hover{
    filter: drop-shadow(2px 4px 8px rgb(66, 66, 73));
    transform: scale(1.05); 
    transition: .5s ease-in-out;
}

footer{
    box-shadow: 1px 2px 7px rgba(4, 18, 22, 0.4);
    margin-top: auto; /*https://www.youtube.com/watch?v=yc2olxLgKLk*/
 }

 .iconredes{
     display: flex;
     flex-direction: row;
     margin-left: 3%;
     width: 36%;
     justify-content: space-between;
     align-items: center;
     opacity: 55%;
 }

 .iconRedesPesquisar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    opacity: 70%;
 }

 .iconRedesPesquisar > h3{
     margin-right: 4em;
 }

 .iconRedesPesquisar img{
     margin-right: 2em;
 }

 .mainpesquisar{
    margin-top: 2%;
}

.tudoPesquisar{
    display: flex;
    margin-top: 2%;
}

.mainpesquisar img{
    width: 100%;
}

.pesquisar{
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.divinput2{
    width: 40%;
    text-align: justify;
    margin-right: 5%;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    font-size: 1.3em;
}

div#titulo{
    font-weight: bold;
}

/* dark mode */

body.dark {
	background: #000000;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

/* Dark mode */

.label {
	background-color: rgb(75, 75, 75);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 21px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
	background-color: rgb(150, 150, 150);
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 2px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(18px);
}

/* RESPONSIVIDADE */



@media(max-width: 970px){

    .extras{
        display: none;
    }

    .tudoPesquisar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pesquisar img{
        width: 680px;
    }

    .divinput2{
        width: 600px;
        text-align: center;
        margin-left: 3%;
    }

    .divcheckbox{
        margin-left: 50%;
    }
}

@media(max-width: 710px){

    footer, header{
        width: 700px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
}

@media(max-width: 660px){

    footer{
        width: 718px;
    }
}

